@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  :root {
    --background: #f8fafc;
    /* slate-50 */
    --foreground: #0f172a;
    /* slate-900 */
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}

/* Hide scrollbar for cleaner mobile look */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}